extends layout

block content

    head
        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.10/css/all.css', integrity='sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg', crossorigin='anonymous')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/login.css')

    .jumbotron.jumbotron-fluid#background
        .container
            .row
                .col-sm-4
                .col-sm-4
                    .card
                        .card-header
                            h5.card-title Log in
                        .card-body
                            form(action='/login', method='POST')
                                .form-row.mt-2
                                    input.form-control(type='text', name='username', placeholder='Username')
                                .form-row.mt-2
                                    input.form-control(type='password', name='password', placeholder='Password')
                                .form-row.mt-2
                                    button.btn.btn-danger.btn-block(type='submit') Log in
                        .card-footer.text-center Don't have an account?
                            a(href='/register')  Sign up
                            p.card-text Back to the
                                a(href='/')  home page
                .col-sm-4