#background{
    background-image: url('../images/abstract_writing.jpg');
    background-position: center center;
    background-size: 100%;
    margin-bottom: 0px;
    opacity: 0.8;
}
.card-header, .card-footer{
    background-color: #7A9D96;
    border-color: #7A9D96;
}
.card-body{
    background-color: #CAE4DB;
}
a{
    color: #CAE4DB;
}

body{
    background-color: #CAE4DB;
}
#heading{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    color: #00303F;
    text-align: center;
}
#p{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

