.profilePic-lg {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #00303F;

}

.card {
    box-shadow: 0px 0px 0px 0px;
}

.card#profilePicCard {
    background-color: transparent;
    border: none;
}

#backgroundPic{
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('../images/book.jpg') no-repeat;
    background-size: cover;
}

#usersWorks a {
    border-right: 0;
    border-left: 0;
}