
#navBar{
    background-color: #00303F;
}
.navbar-brand{
    font-family: 'Pacifico', cursive;
}
#searchButton{
    background-color: #DCAE1D;
    border-color: #DCAE1D;
}

body {
    background-color: #a1b6af;
}

.navbar {
    background-color: #00303f;
} 

.card {
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}

.card-header {
    background-color: transparent;
    border-bottom: none;
}

.card-footer {
    background-color: transparent;
    border-top: none;
}

#starRating img {
    width: 50px;
    height: 50px;
}


.profilePic-sm {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 3px solid #00303f;
}

.profilePic-lg {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #00303F;

}

.img-thumbnail {
    background-color: none !important;
    padding: 0;
}

.profilePic-xs {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 3px solid #00303f;
}

.btn-primary {
    background-color: #00303f;
    border-color: #00303f;
}

.btn-primary:hover {
    background-color: #002632;
    border-color: #002632;
}

.btn-secondary {
    background-color: #dcae1d;
    border-color: #dcae1d;
}

.btn-secondary:hover {
    background-color: #b08b17;
    border-color: #b08b17;
}

